MONGODB_URI=
SESSION_SECRET=
RESEND_API_KEY=
EMAIL_FROM=Editco Media <referrals@editcomedia.com>
ADMIN_NOTIFY_EMAIL=team@editcomedia.com
ADMIN_EMAILS=admin@editcomedia.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
